style {
    body {
        margin: 0;
    }
}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>eBay unofficial</title>
  </head>
  <body>
    <global-header/>
    <header />
  </body>
</html>
